nav {
    background-color: #e4446c;
    overflow: hidden;
    text-decoration: none;
    color: aqua;
    /* position: fixed; */
    /* background: transparent; */
    
  }
  
  .left {
    float: left;
    color: aqua;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .right {
    float: right;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: aqua;
  }
  
  a {
    display: inline-block;
    text-align: center;
    padding: 28px 35px;
    text-decoration: none;
    color: aqua;
  }
  
  
  @media screen and (max-width: 600px) {
    .left, .right {
      float: none;
      text-align: center;
    }
    .right {
      width: 100%;
    }
  }
  